.content {
    border: 3px solid #808080;
    width: 1024;
    margin: auto;
}
.flex-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-item-1 {
    text-align: center;
}